.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}
.contact--img {
  width: 2rem;
  height: 2rem;
}
.contact--text {
  font-size: 1.4rem;
}

.contact--popover {
  background-color: var(--color-secondary);
  padding: 3rem;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  & address {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & p {
      display: flex;
      gap: 1rem;
      font-size: 1.3rem;
    }
  }
  & button {
    background: none;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.form {
  margin: auto;
  width: 80%;
  height: 100%;
  background-color: var(--color-secondary);
  & .form__color {
    color: var(--color-orange);
  }
  & .form--content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    border-radius: 1rem;
    & input,
    textarea {
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
      border-radius: 0.5rem;
      border: none;
      background-color: var(--color-background);
      color: var(--color-text);
    }
  }
  & .form--close {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    background: none;
    border: none;
    & svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.contact--info {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}
@media (min-width: 50rem) {
  .form {
    width: 50%;
    height: 70%;
  }
}

@media (min-width: 75rem) {
  .contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  .contact--content {
    width: 50%;
  }
}
